.row-header{

margin: 0px auto;
padding: 0px auto;

}




.navbar-default { margin-bottom: 0;
    margin-bottom: 0; }
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.navbar-custom{
    background-color: #8CD98C; 

    
}
.custb1{
    background-color: #8C8CD9; 
}

.custb2{
    background-color:#B38CD9;
}

.custb3{
    background-color: #8CB3D9;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}



  .mt{
    margin-top: 5px
  }
  .ml{
      margin-left: 10px !important;

  }
.jumbotron{
    background-color: #d98cd9;
    padding: 80px 20px 80px 20px;
    margin: 0px auto;
    color: white
    
}
.footer{

    background-color:   #efcdef;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;

}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px
}

.address{
    font-size: 80%;
    color: black;

}
