.row-header{

margin: 0px auto;
padding: 0px auto;

}
img {
    border-radius: 80%;
    opacity: 0.82;
  }

.jumbotron{
    background-color: #d98cd9;
    padding: 80px 20px 80px 20px;
    margin: 0px auto;
}
.footer{

    background-color:   #d98cd9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px
}

.address{
    font-size: 80%;
    color: black;

}
